.navBar {
  height: 60px;
  background-color: lightcoral;
  width: 100%;
}
.wrapper {
  width: auto;
  background-color: #000;
}

.wrapper-menu {
  float: left;
  padding: 20px;
}

.wrapper-title {
  float: left;
  padding: 20px;
  padding-left: 50%;
  font-weight: bold;
  text-decoration: none;
}

.wrapper-register {
  float: right;
  padding: 20px;
  cursor: pointer;
}

.wrapper-login,
.wrapper-logout,
.wrapper-register{
  float: right;
  padding: 20px;
  cursor: pointer;
}
