.container {
  margin-left: 20%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  margin-top: -25%;
}
.product-card {
  text-align: left;
  width: 33%;
  overflow: scroll;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  padding-bottom: 1%;
  /* border-style: solid;
  border-color:green;
  border-width: 2px; */
}
input,
label {
  float: none;
  display: inline-block;
  width: 30%;
  margin: 1%;
}

.product-img {
  text-align: center;
}

.card-header {
  text-align: left;
  min-height: 100px;
}

.card-content {
  text-align: left;
}
.card-content label{
width: 1%;
}

.cart-button {
  margin-right: 1%;
}

.card-content-description {
  width: 200%;
  min-height: 120px;
}

.filters {
  max-width: 20%;
}

.gaug-price label {
  padding-left: 0px;
}

.dropdown label {
  padding-left: 0px;
}


.product-name input[type="text"] {
  height: 10px;
}

.green-circle{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.red-circle{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

input[type="number"] {
  height: 10px;
  margin-left: 0%;
}
