.Registration {
  margin: 20%;
}

input {
  width: 70%;
  margin-left: 10%;
  box-sizing: border-box;
  border: 2px solid black;
  border-color: none;
}

label {
    padding: 10%;
}

input:focus {
    border: 2px solid red;
}

.birthdate {
    margin-right:-8% ;

}

.register-button {
    margin-left: 10%;
    font-size: 16px;
}

.title-form {
    justify-content: center;
    text-align: center;
}